
body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 253, 253);
    box-sizing:content-box;
  }
  .aboutus-background {
    margin: 0;
    position: relative;
    align-items: center;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 90px;
  }
  .overlay2{
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
}
.overlay2 a{
text-decoration: none;
font-size: 25px;
font-family: "Montserrat", sans-serif, Arial, sans-serif;
color: white;
text-align: center;
margin-left: 180px;
}

.overlay2 a:hover{
text-decoration: underline;
}
 #ourteam {
      margin-left: 140px;
      display: flex;
  
  }
  #team2{
    margin-left: 140px;
  }

  #imgplane {
    width: 100%;
    height: 550px;
    object-fit: cover;
    top: 0;
    left: 0;
    box-shadow: 5px 5px #bde7e7;
  }
  #team {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(83, 185, 233);
    margin-top: 50px;
  }
  #ourteam #team {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 50px;
    color: rgba(18, 115, 224, 0.87);
  }
  .card {
    border-radius: 12px;
  }
  .titlesubject {
    line-height: 1.5;
    padding: 10px;
  }
  .containerclass h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #162e44;
  }
  .caption-gray {
    text-align: center;
    font-size: 25px;
    font-family: "Exo 2", sans-serif;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    line-height: 1.3;
  }
  .containerclass p {
    color: rgba(18, 115, 224, 0.87);
    font-size: 20px;
  }
  .columnco .card:hover {
    z-index: 0.5;
    transform: scale(1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  }
  #abdsec {
    text-align: center;
    letter-spacing: 0.025em;
    transform: translate3d(0, 0, 0);
    backface-visibility: visible;
    margin-left: 40px;
  }
  
  #abdsec .containerclass h4 {
    padding-bottom: 50px;
    }
  
  
  
  #abd {
    border-radius: 50%;
    margin-top: 25px;
  }
  .containerclass h4 {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    padding-bottom: 9px;
  }
  #iconabd {
    margin-left: 70px;
    justify-content: center;
    display: inline;
    padding-right: 70px;
    font-size: 35px;
  }
  #iconabd a {
    text-decoration: none;
    padding: 5px;
    color: #162e44;
  
  }
  #iconabd a:hover {
    color: rgb(83, 185, 233);
  }
  .columnco .card {
    /* box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2); */
    box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 20%);
    width: 350px;
    height: 400px;
    margin: 2px;
  }
  
  
  .columnco {
    float: left;
  
    width: 33.3%;
    margin-bottom: 12px;
  }
  #duaasec {
    text-align: center;
    letter-spacing: 0.025em;
    transform: translate3d(0, 0, 0);
    backface-visibility: visible;
    margin-left: 50px;
  }
  #duaa {
    border-radius: 50%;
    margin-top: 25px;
  }
  #icondua {
    margin-left: 50px;
    justify-content: center;
    display: inline;
    padding-right: 70px;
    font-size: 35px;
  }
  #icondua a {
    text-decoration: none;
    padding: 5px;
    color: #162e44;
  }
  #icondua a:hover {
    color: rgb(83, 185, 233);
  }
  #khaledsec {
    text-align: center;
    letter-spacing: 0.025em;
    transform: translate3d(0, 0, 0);
    backface-visibility: visible;
    margin-left: 50px;
  }
  #khaled {
    border-radius: 50%;
    margin-top: 25px;
  }
  #iconkhalid {
    margin-left: 50px;
    justify-content: center;
    display: inline;
    padding-right: 70px;
    font-size: 35px;
  }
  #iconkhalid a {
    text-decoration: none;
    padding: 5px;
    color: #162e44;
  }
  #iconkhalid a:hover {
    color: rgb(83, 185, 233);
  }
  #ahmadsec {
    text-align: center;
    letter-spacing: 0.025em;
    transform: translate3d(0, 0, 0);
    backface-visibility: visible;
    margin-left: 240px;
  }
  #ahmad {
    border-radius: 50%;
    margin-top: 25px;
  }
  #iconahmad {
    margin-left: 50px;
    justify-content: center;
    display: inline;
    padding-right: 70px;
    font-size: 35px;
  }
  #iconahmad a {
    text-decoration: none;
    padding: 5px;
    color: #162e44;
  }
  #iconahmad a:hover {
    color: rgb(83, 185, 233);
  }
  #maliksec {
    text-align: center;
    letter-spacing: 0.025em;
    transform: translate3d(0, 0, 0);
    backface-visibility: visible;
    margin-left: 650px;
  }
  
  #maliksec .containerclass h4 {
    padding-bottom: 25px;
    }
  #malik {
    border-radius: 50%;
    margin-top: 25px;
  }
  #iconmalik {
    margin-left: 50px;
    justify-content: center;
    display: inline;
    padding-right: 70px;
    font-size: 35px;
  }
  #iconmalik a {
    text-decoration: none;
    padding: 5px;
    color: #162e44;
  }
  #iconmalik a:hover {
    color: rgb(83, 185, 233);
  }
  
  /* ============================ btn */
  
  .mybtn{
    float: right;
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #mybtn{
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  font-size:15px;
  background-color:rgb(83, 185, 233);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 375px;
  }
  #mybtn a{
  color: white;
    text-decoration: none;
  
  }
  #mybtn:hover {
  background-color: #1fd8aa;
  }



  
/*#region header*/
.logo img{
  width: 146px;
  height: 87px;
}
.logo{
  display: flex;
  width: 100%;
  justify-content:space-between;
  height:100px;
  /* padding: 20px 0; */
  background-color: #FFFFFF;
}
.leftlogo{
  margin-left: 100px;
  display:flex
}
/*

*/

/*
*/
.leftlogo h1{
  padding: 10% 0;
  font-size:30px;
  font-family:fantasy
}
.rightlogo{
  margin-right: 180px;
  padding:35px 0 ;
}
.vl{
  border-left: 3px solid gray;
  height: 20px;
  display:inline-block;
  margin:0 10px;
}
.rightlogo i{
  margin: 0 10px;
  color:#5190CD ;
}
.header2{
   padding-left: 133px;
   padding-right: 183px;
   background-color: #162E44;
   color: white;
}
.header2 nav{
  display: flex;
  width: 100%;
  height:80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}
.header2 nav .ul1{
  display: flex;
  justify-content: center;
  
}
.header2 nav .ul1 i{
  margin-left: 10px;

}
.header2 nav div{
  text-align: center;
}
.header2 nav .ul1 li{
  text-align: center;
  padding:24px 15px;
  margin-right:75px;
  /* font-size: 16px; */
}
.header2 nav .ul1 li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 15px;
}
.header2 nav .ul1 li:hover .inm-div1 {
  width: 78.89px;
}
.header2 nav .ul1 li:hover .inm-div2 {
  width: 80px;
}
.header2 nav .ul1 li:hover .inm-div3 {
  width: 106.11px;
}
.header2 nav .ul1 li:hover .inm-div4 {
  width: 119.40px;
}
.inm-div
{
  text-align: center;
  height: 4px;
  background-color: #01B3A7;
  position: absolute;
  top:0;
  transition-property: width;
  transition-duration: 0.5s;
}
.inm-div1{
  width: 0;
  /* display: none;    */
}
.inm-div2{
  width: 0;
}
.inm-div3{
width: 0;
}
.inm-div4{
width: 0;
}
.header2 .ul2{
  display: flex;
}
.header2 .ul2 li{
  margin-left: 20px;
}
/*#endregion header*/
