
 body{
  margin: 0;
  padding: 0;
}

.background{
 position: relative;

}
h2{
 position: absolute;
 top: 50%;
 left: 33%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 100px;
 font-weight: 700;
 color: white;

}

.tourlogo {
 /* position: absolute; */
 height: 550px;
 width: 100%;
 bottom:  100px;
}
.img1{
 position: relative;
 width: 100%;
 opacity: 0.5;
 border-radius: 10px;

}
.italy{

 position: absolute;
left: 40%;
top: 8%;
}
.img2{
 position: relative;
 width: 100%;
 opacity: 0.5;
 border-radius: 10px;


}
.greece{

 position: absolute;
 left: 33%;
 top: 8%;
 color: #000103;

}
.img3{
 opacity: 0.5;

 position: relative;
 width: 100%;
 border-radius: 10px;


}
.sing{
 position: absolute;
left: 26%;
top: 8%;
}
.img4{
 opacity: 0.5;

 position: relative;
 width: 100%;
 border-radius: 10px;


}
.tahity{
 position: absolute;
left: 33%;
top: 7%;
}
.img5{
 opacity: 0.5;

 position: relative;
 width: 100%;
 border-radius: 10px;


}
.swis{
 position: absolute;
left: 23%;
top:8%;
}
.img6{
 opacity: 0.5;

 position: relative;
 width: 100%;
 border-radius: 10px;


}

.brazil{
 
 position: absolute;
left: 38%;
top: 8%;
color: yellow;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p{
 text-align: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
 font-size: 20px;
 font-weight: bolder;
 margin-left: 2%;


}
p{
 margin-left: 5%;
}

.p1{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-style: italic;
 font-weight: 700;
 /* margin-left:2% ; */
}
.fspan{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 23px;
 font-weight: bolder;
 /* margin-left:2% ; */

}
.sspan{
 
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 23px;
 font-weight: bolder;
 /* margin-left:2% ; */

}
.tspan{

 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
 font-weight:800;
 /* margin-left:2% ; */

}
.span4{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
 font-weight: bolder;
 /* margin-left:2% ; */

}
.span5{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 25px;
   color: green;
 font-weight: bolder;
 /* margin-left:2% ; */


}
.span6{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
 font-weight: bolder;
 /* margin-left:2% ; */


}
.span7{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 22px;
 font-weight: bolder;
 color: red;
 /* margin-left:2% ; */


}
.span8{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 24px;
 font-weight: bolder;
 color:blue;
}


label{
 font-size: 20px;
 font-weight: 700;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /* margin-left: 2%; */

}
input[type="checkbox"]{
 margin-left: 5%;
 
}







.container {
 display: flex;
 padding: 2% 2%;
  box-sizing: border-box;
  height: 100vh;
 border-top: solid rgba(137, 251, 255, 0.7);
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;

 border-bottom: solid rgba(137, 251, 255, 0.7);


  margin:4% 2%;
 }
      
 .disbox{
  position: relative;  
 border-radius: 2%;
 flex: 2; 
 padding-left: 0.%;
 border: solid rgba(6, 250, 108, 0.384);
 border-bottom-style: none;
 }

 .disbox h3{ 
 
   
   /* border-bottom: solid rgba(6, 250, 108, 0.384) ; */
   /* color:#334257;  */
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   /* margin: 0; */
   /* font-weight: 700; */

 
  }


 
 .disbox fieldset{
   position: relative;
  border-top: solid  rgba(158, 158, 158, 0.384) ;font-size: 15px ;border-radius: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #334257;


 }
 .legend{
   font-style:oblique;


 }
 p{
   font-style:inherit;
   font-size: 18px;
   color: #334257;
 }

 #total{
   position: absolute;
   right:0 px;
   bottom: px;
   /* bottom: -50%px; */
   
 }
 

 .disbox form{
   /* position: absolute; */
   /* bottom: %; */
   right: 1%;
   /* display: none; */
   height:5% ;
  width: 99%;
  /* padding-top: 5px; */
  /* border-radius: 4px; */
 margin: 0 auto;
 /* margin-top: 100px; */
 display: block; 
}  
.disbox h3{
  text-align: center;
  font-size: 30px;
  
  

}



.box {
  padding-top: .4%;
 /* border: solid rgb(9, 250, 218); */
height: 98%; 
flex: 1;
overflow: hidden;
transition: .5s;
margin: 0 0.2%;
box-shadow: 0 20px 30px rgba(0,0,0,.1);
line-height: 0;
}
      
.box > img {
 height: calc(100% - 10vh);
 object-fit: cover; 
 transition: .5s;
 cursor: pointer;
 border-radius: 20px;
 }
      
.box > span {
/* border: solid rgb(183, 233, 248); */
background-color: #7DEDFF;
color: #334257;
font-size: 3.8vh;
display: block;
text-align: center;
height: 10vh;
line-height: 2.6;
border-radius: 5px;
}
      
.box:hover { flex: 1 1 15%; }
.box:hover > img {
 width: 100%;
 height: 100%;
}
      
.container1 {
  display: flex;
 padding: 2% 2%;
  box-sizing: border-box;
  height: 100vh;
 border-top: solid rgba(137, 251, 255, 0.7);
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;

 border-bottom: solid rgba(137, 251, 255, 0.7);


  margin:4% 2%;
        

 }
.container2 {
  display: flex;
 padding: 2% 2%;
  box-sizing: border-box;
  height: 100vh;
 border-top: solid rgba(137, 251, 255, 0.7);
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;

 border-bottom: solid rgba(137, 251, 255, 0.7);


  margin:4% 2%;


}

.container3 {
  display: flex;
  padding: 2% 2%;
   box-sizing: border-box;
   height: 100vh;
   border-top: solid rgba(137, 251, 255, 0.7);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
 
  border-bottom: solid rgba(137, 251, 255, 0.7);
 
 
   margin:4% 2%;

}
.container4 {
  display: flex;
  padding: 2% 2%;
   box-sizing: border-box;
   height: 100vh;
   border-top: solid rgba(137, 251, 255, 0.7);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
 
  border-bottom: solid rgba(137, 251, 255, 0.7);
 
 
   margin:4% 2%;


 }
.container5 {
  display: flex;
  padding: 2% 2%;
   box-sizing: border-box;
   height: 100vh;
   border-top: solid rgba(137, 251, 255, 0.7);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
 
  border-bottom: solid rgba(137, 251, 255, 0.7);
 
 
   margin-bottom:10%;
   margin-left: 2%;
   margin-top: 4%;
   margin-right: 2%;


 }
 .bot{
   position: relative;
 }
 
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
  text-decoration: none;
  
  
}
.bttn-unite {
  position: absolute;
  bottom: 50%;
  right: 42%;
  text-decoration: none;
  

  
 
}
.bttn-unite {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent ;
  font-weight: 800;
  cursor: pointer;
  /* position: relative; */
  font-size: 40px;
  font-family: inherit;
  padding: 20px 25px;
  z-index: 0;
  overflow: hidden;
  border: 3px solid #1d89ff;
  border-radius: 100px;
  background: #fff;
  color: #1d89ff;
  -webkit-transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 100);
  transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: #d6e3ff;
  content: '';
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(-110%, -10%, 0) skewX(-20deg);
          transform: translate3d(-110%, -10%, 0) skewX(-20deg);
}

.bttn-unite:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.3);
  color: #1d89ff;
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:hover:before,
.bttn-unite:focus:before {
  opacity: 1;
  -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(-50%, -10%, 0) skewX(-20deg);
          transform: translate3d(-50%, -10%, 0) skewX(-20deg);
}


.bttn-unite.bttn-success {
  border-color: #01d7dfa1;
  color: #01d7dfa1;
}
.bttn-unite.bttn-success:hover,
.bttn-unite.bttn-success:focus {
  background: #01d7dfa1;
  color: rgb(0, 158, 71);
}
.bttn-unite.bttn-success:before {
  background: #ffffffc7;
}

input[type="submit"] {
  border: 1px solid rgb(6, 250, 108);
  position: absolute;
 top:39%;  
 /* left: 0%; */
 right: 0; 
  background-color: transparent;
  color:rgb(0, 161, 67);
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 30px;
  border-radius: 3px;
  margin-top: 20px;
  text-transform: capitalize;
}

input:focus {
  outline: none;
}
input.hover-center-2 {
  background-image: linear-gradient(0, rgba(6, 250, 108, 0.384), rgba(6, 250, 108, 0.384));
  background-size: 0 0;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input.hover-center-2:hover{
  background-size: 100% 100%;
  color: rgba(7, 162, 223, 0.767);
  border-radius: 50px;
}
.extra{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
 display:block;
}
.logo img{
  width: 146px;
  height: 87px;
}
.logo{
  display: flex;
  width: 100%;
  justify-content:space-between;
  height:100px;
  /* padding: 20px 0; */
  background-color: #FFFFFF;
}
.leftlogo{
  margin-left: 100px;
  display:flex
}
/*

*/

/*
*/
.leftlogo h1{
  padding: 17% 0;
  font-size:30px;
  font-family:fantasy
}
.rightlogo{
  margin-right: 180px;
  padding:35px 0 ;
}
.vl{
  border-left: 3px solid gray;
  height: 20px;
  display:inline-block;
  margin:0 10px;
}
.rightlogo i{
  margin: 0 10px;
  color:#5190CD ;
}
.header2{
   padding-left: 133px;
   padding-right: 183px;
   background-color: #162E44;
   color: white;
}
.header2 nav{
  display: flex;
  width: 100%;
  height:80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}
.header2 nav .ul1{
  display: flex;
  justify-content: center;
  
}
.header2 nav .ul1 i{
  margin-left: 10px;

}
.header2 nav div{
  text-align: center;
}
.header2 nav .ul1 li{
  text-align: center;
  padding:24px 15px;
  margin-right:75px;
  /* font-size: 16px; */
}
.header2 nav .ul1 li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 15px;
}
.header2 nav .ul1 li:hover .inm-div1 {
  width: 78.89px;
}
.header2 nav .ul1 li:hover .inm-div2 {
  width: 80px;
}
.header2 nav .ul1 li:hover .inm-div3 {
  width: 106.11px;
}
.header2 nav .ul1 li:hover .inm-div4 {
  width: 119.40px;
}
.inm-div
{
  text-align: center;
  height: 4px;
  background-color: #01B3A7;
  position: absolute;
  top:0;
  transition-property: width;
  transition-duration: 0.5s;
}
.inm-div1{
  width: 0;
  /* display: none;    */
}
.inm-div2{
  width: 0;
}
.inm-div3{
width: 0;
}
.inm-div4{
width: 0;
}
.header2 .ul2{
  display: flex;
}
.header2 .ul2 li{
  margin-left: 20px;
}
/*#endregion header*/

/*#region carsoul*/

.carousel {
  /* margin-left: 10%;
  margin-right: 10%; */
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}
footer{
  height: 200px;
 }
 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  /* padding: 55px 50px; */
  padding: 20px 46px;;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }

